img{
    max-width: 100%;
    border-radius: $border-radius-sm;
}
.img-raised{
    box-shadow: $box-shadow-raised;
}

.img-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.page-header {
  .image-gallery {
    width: 100%;
    .image-gallery-slide {
      .image-gallery-image {
        height: 100%;
        width: auto;
      }
    }
    .image-gallery-thumbnail {
      .image-gallery-thumbnail-image {
        height: 100%;
        width: auto;
      }
    }
  }
}
